@charset "UTF-8";

.header-top {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    background: no-repeat url("https://raw.githubusercontent.com/izewfktvy533zjmn/on-going.jp/master/assets/img/top.jpg");
    background-size: contain;
}

